* {
	padding: 0;
	margin: 0;
}

.title {
	font-style: 1.5em;
}

.container {
	max-width: 1400px;
	width: 100%;
}

.half-box {
	max-width: 700px;
	width: 100%;
}

.left-box {
	float: left;
}

.footer {
	width: 100%;
	background-color: aquamarine;
}